/*block css*/
#block-region-topiczero .block_assessment_information{
	width: 100% !important;
	min-height: 0 !important;
	margin-bottom: 0;
}
.block_assessment_information #show-content{
	display: inline-block;
	width: 100%;
	min-height: 0 !important;
}
.block_assessment_information .subheadings_text{
	padding: .8em;
}
.block_assessment_information .subheadings_title{
	color: #fff;
	padding: .6em;
	margin: 0;
	font-size: 1.2em;
	text-transform: uppercase;
	font-weight: normal;
}
.block_assessment_information .section-assessment-modchooser-link{
	cursor: pointer;
	color: #3b5179;
	padding-right: 10px;
}
.block_assessment_information .section-assessment-modchooser-link:hover{
	color:#74a6ad;
}
.block_assessment_information .section-assessment-modchooser-link img{
	padding: 0 4px 3px 4px;
	width: 13px;
	height: 13px;
}
.block_assessment_information .section-wrap .resource{
	margin-bottom: 10px;
}
#block-region-topiczero .block_assessment_information .section-wrap .resource li,
.dragging-resource li{
  margin-bottom: 0 !important;
  margin-left: 0 !important;
  padding: 5px 0 10px 40px !important;
  list-style: none;
}

/*editing mode*/
.block_assessment_information .section-wrap.editing .resource-list{
	padding:5px;
	border: 1px solid #f8f8ff;
	min-height: 100px;
}
.block_assessment_information .section-wrap.editing .resource.show-link{
	opacity:0.5!important;
}
.block_assessment_information .section-wrap.editing .resource:hover{
	background-color: #eeeeee;
}
.block_assessment_information .section-wrap.editing .resource .move,
.dragging-resource .move{
	cursor:move;
	display: inline-block;
    float: left;
    margin-top: 8px;
    line-height: 12px;
}
#block-region-topiczero .block_assessment_information .section-wrap.editing .resource li,
.dragging-resource li{
  margin-left: 15px !important;
  width: 65%;
}
.block_assessment_information .section-wrap.editing .resource .remove-link,
.dragging-resource .remove-link{
	float: right;
	margin-top: -25px;
	line-height: 13px;
	padding-left: 15px;
}
.block_assessment_information .section-wrap.editing .resource.show-link .remove-link,
.dragging-resource.show-link .remove-link{
	background-image: url('/blocks/assessment_information/images/show.svg');
	background-repeat: no-repeat;
}
.block_assessment_information .section-wrap.editing .resource.hide-link .remove-link 
.dragging-resource.hide-link .remove-link{
	background-image: url('/blocks/assessment_information/images/hide.svg');
	background-repeat: no-repeat;
}
.block_assessment_information #coursebox-1{
	margin-right: 3% !important;
}
/*config page*/
#fitem_id_config_subheadings_background .option{
	width : 20px;
    height : 20px;
    float : left;
    margin-right : 5px;
    border : 1px solid;
    cursor : pointer;
}
#fitem_id_config_subheadings_background .option:hover{
	border: 2px solid;
}
#fitem_id_config_subheadings_background .option.selected{
	background-image: url('/blocks/assessment_information/images/tick-outline.png');
}
#fitem_id_config_subheadings_background .option.transparent{
	background-image: url('/blocks/assessment_information/images/transparent.png');
}
#fitem_id_config_subheadings_background .option.transparent.selected{
	background-image: url('/blocks/assessment_information/images/tick-transparent.png');
}
/*category settings page*/
.premix-resourses-wrap{
	padding:10px;
	border: 1px solid #e5e5e5;
	margin-top: 25px;
}
.block_assessment_information #coursebox-2{
	float:right;
}